body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;  /* 使内容垂直布局 */
}

h1 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;  /* 移除底部的外边距 */
    font-family: 'Poppins', sans-serif;
    font-size: 20px;  /* 字体大小变小 */
    color: #333;
    font-weight: 600;
    letter-spacing: 1px;  /* 字母间距更紧凑 */
    padding: 5px;  /* 内边距变小 */
    background-color: #f5f5f5;
    /* border-bottom: 2px solid #01d5ff;  添加下边框 */
}

#map {
    flex: 1;
    width: 100%;
}

.legend {
    background: white;
    padding: 10px;
    line-height: 2;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.legend-title {
    font-size: 12px;  /* 单独定义图标注释的字体大小 */
    color: #333;
    line-height: 2;
    margin: 0;
    padding: 0;
}


#formPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 300px;  /* 调整表单宽度 */
    background: #ffffff;
    padding: 20px;  /* 增加内边距 */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);  /* 增强阴影 */
    border-radius: 10px;
}


input[type="text"], textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
}

input[type="text"]:focus, textarea:focus {
    border-color: #01d5ff;  /* 增加边框颜色过渡效果 */
}

/* 调整问题和回答框的距离 */
label {
    display: block;
    margin-bottom: 0px;  /* 问题和回答框之间的距离 */
    font-size: 16px;
    /* font-weight: bold; */
}

/* 减少问题之间的间距 */
.form-group {
    margin-bottom: 10px;  /* 控制每个问题块之间的距离 */
}


button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 15px;
    font-size: 10px;
    border-radius: 25px ;  /* 增加圆角，使按钮更加圆滑 */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* 添加阴影，使按钮更具立体感 */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;  /* 增加阴影变化的过渡效果 */
}

button:hover {
    /* background-color: #099f1f; */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);  /* 悬停时增加阴影效果 */
}

/* 根据 data-color 属性设置不同背景色 */
button[data-color="primary"] {
    background-color: #007aff;  /* 设置为蓝色 */
    border: 1px solid #007aff;  /* 添加蓝色的边框 */
    color: white;
}

button[data-color="secondary"] {
    border: 1px solid #007aff;  /* 添加蓝色的边框 */
    color: #007aff;  /* 将文本颜色改为与边框一致的蓝色 */
}
