<!DOCTYPE html>
<html>
<head>
    <title>米兰干饭图</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles.css" /> 引入外部样式文件 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->

</head>
<body>
    <h1>朋友们&好吃的店</h1>
    
    <div id="map"></div> <!-- 地图区域 -->
    <button id="openFormBtn" style="position: absolute; top: 5px; right: 10px; z-index: 100;" data-color="primary">帮助</button>
    <button id="showAddressBtn" style="position: absolute; top: 6px; right: 70px; z-index: 100;" >显示住址</button>

    <!-- 提交信息的弹出表单 -->
    <div id="formPopup">
        <h3>NEED YOUR “帮助”</h3>
        <form id="submissionForm">
            <label for="name">你的称呼？</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <label for="location">好店名称</label><br>
            <input type="text" id="location" name="location" required><br><br>

            <label for="description">这家店的特色？</label><br>
            <textarea id="description" name="description" rows="4" cols="30" required></textarea><br><br>
            
            <button type="submit" data-color="primary">告诉我</button>
            <button type="button" id="closeFormBtn" data-color="secondary">等我探探</button>
        </form>
    </div>

    <!-- 引入外部 JavaScript 文件 -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- <script src="scripts.js"></script> -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
